body {
    margin:0;
    padding: 0;
}

.nav-bar {
 display: flex;
 position: fixed;
 top:0;
 width: 100%;
 height: 70px;
 background: white;
 align-items: center;
 z-index: 5;
}


.desktop {
    display: normal;

}

.mobile {
    display: none;
    position: fixed;
    left: 101%;
}



.info-bar {
    display: flex;
    position: fixed;
    top:calc(100vh - 70px);
    width: 100%;
    height: 70px;
    background: white;
    align-items: center;
    z-index: 255;
   }

  

.info-trigger{
    position: fixed;
    width: 100%;
    height: 70px;
    opacity: 50%;
    align-items: center;
    z-index: 55;
}

#info-trigger2 {
    visibility: hidden;
}



.info-block{
    display: flex;
    position: fixed;
    top:calc(100vh - 70px);
    width: 100%;
    height: calc(80vh);
    background: white;
   }

.video-trigger {
    position: fixed; 
    top:0;
    height: 100%;
    width: 100%;
    background: red;
    visibility: hidden;
    z-index: 150;
}
 .talkie-container {
    display: flex;
    position: relative;
    left: 17px;
    font-size: 50px;
    color: black;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 70px;
    width: 100%;
    height: calc(75vh - 100px);
    overflow: auto;
    margin-bottom: 9vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
 }

 .huge {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    margin-left: 17px;
 }


 .talkie-container::-webkit-scrollbar {
    display: none;
  }

 .talkie {
    width: 90%;
    max-width: 1500px;
    position: relative;
    top: 50px;
    padding-bottom: 190px;
 }



.image-test {
    display: flex;
    width: auto;
    min-height: 60vh;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    margin-bottom: 15px;
    background-image: url(images/yellow.png)
}

.site-title{
    display: flex;
    position: fixed;
    left: 17px;
    font-size: 50px;
    color: black;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
}



.home {
    display: flex;
    position: fixed;
    top:0;
    width: 320px;
    height: 70px;
    background: none;
    opacity: 50%;
    align-items: center;
    z-index:200;
}

.info-title{
    display: flex;
    position: fixed;
    left: 17px;
    font-size: 50px;
    color: black;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.info-title:hover {
color: grey;
}


.hamburger {
    display: flex;
    position: fixed;
    right: 17px;
    font-size: 30px;
    z-index: 20;
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.desktop-nav {
    margin-left: 40px;
    font-size: 50px;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.desktop-nav:hover {
    color: grey;
}

.open {
    display: flex;
    position: fixed;
    right: 17px;
    font-size: 30px;
    z-index: 20;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    background: none;
}

.arrow{
    height: 45px;
    position: relative;
    background: none;
}

.image-container {
    display: flex;
    width: auto;
    margin: 15px;
    flex-direction: column;
}

.text-container {
    display: flex;
    width: auto;
    margin: 10px;
    width: 90%;
    max-width: 1500px;
    font-size: 50px;
    align-content: center;
    flex-direction: column;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.top-spacer{
    height: 220px;
}

.top-spacer-minimal {
    height: 65px;

}

.bottom-spacer{
    height: 50px;
}

.width-strict{
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
background: grey;

}

.height-strict {
    display: flex;
    width: auto;
    height: auto;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #D4D4D4;
}

a {
    text-decoration: none;
    color: black;
  }


.strict {
    display: flex;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.menu-button-top {
    visibility: hidden;

    display: flex;
    position: fixed;
    top: 27px;
    right: 20px;
    width: 25px;
    border-top: solid;
    transition: transform 1s;

}

.menu-button-top:hover {
    transform: rotateZ(-45deg);
}

.menu-button-bottom {
    visibility: hidden;
    display: flex;
    position: fixed;
    top: 35px;
    right: 20px;
    width: 25px;
    border-top: solid;
    transition: transform 1s;
}


.menu-button-trigger{
    visibility: hidden;

    display: flex;
    position: fixed;
    top: 23px;
    right: 20px;
    width: 25px;
    height: 20px;
    opacity: 50%;
    z-index: 50;
}

#trigger2 {
    visibility: hidden;
}

.mobile-menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    top: calc(-100vh + 70px);
    height: calc(60vh);
    width: 100%;
    background: white;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 7.75vh;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
    z-index: 5;
}

.option {
    margin-bottom: 15px;
    margin-top: -25px;
    margin-right: 15px;
}



@media only screen and (max-width: 925px) {
    
    .text-container {
       margin: 4px;
        font-size: 32px;
     
    }
    .bottom-spacer{
        height: 90px;
    }

    .mobile {
        display: flex;
        visibility: visible;
        position: unset;
    }

    .desktop {
        display: none;
    }

    
    .video-trigger {
        visibility: visible;
        opacity: 50%;
    }

    .arrow{
        height: 30px;
    
    }

    .top-spacer{
        height: 10vh;
    }  

    .top-spacer-minimal {
        height: 150px;

    }

    #trigger2 {
        visibility: hidden;
    }

    .menu-button-trigger{
        visibility: visible;

    }
    .mobile-menu{
        visibility: visible;
    }

    .menu-button-bottom {
        visibility: visible;
    }

    .menu-button-top {
        visibility: visible;
    }

    .image-container {
        margin: 10px;
    }
    .nav-bar {
        height: 70px;
       }

     

    .info-bar {
        height: 45px;
        top: calc(100vh - 100px);
        align-items: flex-start;
        padding-top: 12px;
       }

    .site-title{
        left: 10px;
        font-size: 32px;
        background: none;
    }
       .info-title{
        left: 13px;
        font-size: 32px;
    }

    .height-strict {
        margin-bottom: 10px;
    }

    .hamburger {
        right: 15px;
        font-size: 22px;
    }

    .open {
        right: 15px;
        font-size: 22px;
    }

    .talkie-container {
        left: 17px;
        font-size: 32px;
        top: 30px;
        width: 94%;
     }

     .talkie {
         width: 94%;
     }

     .desktop-nav {
        visibility: hidden;
    }

  
    
       
}

@media only screen and (max-width: 425px) {

    .talkie-container {
        left: 17px;
        font-size: 25px;
        top: 30px;
        width: 94%;
     }

     #text-container {
        margin: 4px;
        font-size: 25px;
      
     }

    }
